@font-face {
  font-family: 'NeueHammerUnzialeStd';
  src:  url('./fonts/neuehammerunzialeltstd-webfont.woff2') format('woff2'),
        url('./fonts/neuehammerunzialeltstd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;   
}

:root{
  --btn-height: 5rem;
  --row-height: 12.5dvh;
  --grid-pad: 0.5dvh;
  --clr-brighter: #cbc48d;
  --clr-bright: #aaa378;
  --clr-light: #504d3a;
  --clr-mid: #393625;

}

button{
  outline: 0;
  border: none;
  background: transparent;
  box-sizing: border-box;
  position: relative;
}
  button:before,
  .select-option:before{
    content: '';
    width: calc( var(--row-height) * 0.7 );
    height: calc( var(--row-height) * 0.7 );
    background-color: var(--clr-bright);
    filter: blur( 10px );    
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;
    transition: opacity .05s ease-in-out;
  }

  button.selected:before,
  .select-option.selected:before,
  button:active:before{
      opacity: 0.6;
  }

  .select-option img,
  button img{
    pointer-events: none;
  }

html{
  background-image: url('./images/background.jpg');
  background-size: 100% auto;
  background-position: center top;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  font-family: NeueHammerUnzialeStd, serif;
  font-size: 4vw;
}
  @media (min-aspect-ratio: 1/1){
    html, body{
      font-size: 14px;
    }
  }

h1, h2, h3, h4, h5, h6, ul, ol, p{
  margin-top: 0;
}

#root{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-debug{
  padding: .5rem .6rem;
  box-sizing: border-box;
  position: fixed;
  top: .4rem;
  left: .4rem;
  right: .4rem;
  background: #ccc;
  opacity: 0.3;
  pointer-events: none;
  z-index: 99;
}

.app-state{
  flex-grow: 1;
  height: 100%;
  flex-shrink: 1;
}

.app-interface{
  height: 100%;
}

@keyframes standby-pulse {
  0%{
    color: var(--clr-bright);
  }
  50%{
    color: var(--clr-light);
  }
  100%{
    color: var(--clr-bright);
  }
}

.app-join,
.app-standby{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 1);
  z-index: 50;
  top: 0;
}
 
  .app-standby{
    color: var(--clr-bright);
    display: flex;    
    align-items: center;
    text-align: center;
    z-index: 9;
    animation: standby-pulse 5s ease-in-out 0s infinite;
  }
    .app-standby div{
      box-sizing: border-box;
      padding: 1rem;
    }   

.timer{
 
}
  .timer--value{
    font-family: 1.3em;
    color: var(--clr-bright);
  }


.text-info{
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.button{
  background: var(--clr-mid);
  color: #000000;
  width: 100%;
  border: none;
  padding: 1rem;
  font-family: inherit;
  font-size: inherit;  
  height: var(--btn-height);
  box-sizing: border-box;
}  
  .button:disabled{
    background: #000000;
    color: #000000;
  }
    .button.fake-button{
      opacity: 0;
      position: relative;
      z-index: -99;
    }

  .join-buttons{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .join-buttons button{
    margin: 0.5em 0;
  }

@keyframes loop-flash {
  0%{
    background: var(--clr-light);
  }
  50%{
    background: #cbc48d;
  }
  100%{
    background: var(--clr-light);
  }
}

.app-meta{
  padding: 0 0.6rem;
  line-height: 1.2;
  text-align: center;
  z-index: 1;
  height: calc( var(--row-height) * 0.8 );
  overflow: hidden;
  background: var(--clr-brighter);
  color: #000000;
  box-sizing: border-box;
  display: flex;      
  flex-direction: column;
  justify-content: center;
  //animation: loop-flash infinite 1.5s;
}
  .next-scene-info .where{
    text-transform: uppercase;
  }


/* PLAY INTERFACE */
.play-interface{  
  width: 100%; 
  height: 100%;
  position: relative;
}
  .select-section{
      width:100%;      
      height: 100%;
      position: absolute;
      top: 0;
      background-image: url('./images/background.jpg');
      background-size: 100% auto;
      background-position: center top;
  }
      .section-title{
          font-weight: normal;
          font-size: inherit;        
          text-align: center;
          width: 100%;
          background: var(--clr-light);
          height: calc( var(--row-height) / 2 );
          line-height: calc( var(--row-height) / 2 );
          margin: 0;
      }   

.select-interface{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} 
  .select-interface__character{ /* 1x3 */
      height: var(--row-height);
  }
  .select-interface__prop{ /* 5x3 */
      height: calc( var(--row-height) * 5 );
  }
  

  .select-option{        
      height: var(--row-height);        
      padding: var(--grid-pad);
      box-sizing: border-box;
      position: relative;        
  }
      .select-option img{
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
      }

     

.play-button{
  width: 33%;
  height: var(--row-height);
  position: fixed;
  bottom: 0;
  right: 0;   
  margin: 0;
  padding: var(--grid-pad);
  background-color: transparent;
}
  .play-button img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
  }
  .play-button:disabled{
      background: transparent;
  }
  .play-button:disabled img{
      display: none;
  }

.disabled{    
  opacity: 0.5;
  pointer-events: none;
}


/* FEEDBACK INTERFACE */
.feedback-interface{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
  .feedback-interface-meta{
    background-color: var(--clr-light);
    /* background-image: url('./images/bar-rating.png'); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(var(--row-height) * 0.4 );
    position: relative;
    overflow: hidden;
  }
    .feedback-interface-meta:before,
    .feedback-interface-meta:after{
      background-color: var(--clr-light);
      display: block;
      content: '';
      position: absolute;     
      background-size: contain;      
      height: calc(var(--row-height) * 0.4 );
      line-height: calc(var(--row-height) * 0.4 );
      white-space: nowrap;
      z-index: 10;
    }
    .feedback-interface-meta:before{
      left: 0.7rem;
      content: 'non ti piace';
      padding-right: .4em;
    }
    .feedback-interface-meta:after{
      right: 0.7rem;
      content: 'ti piace';
      padding-left: .4em;
    }

  /* .feedback-interface-meta .negative-region{
    background-color: #43402d;
    display: block;
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  } */
  .feedback-interface-meta .indicator-track{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 54.5%;
    transform: translateX(-50%);    
  }
    .feedback-interface-meta .indicator-track:before{
      width: 100%;
      height: 1px;
      background-color: #000000;
      display: block;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }
  .feedback-interface-meta .indicator{    
    /* background-color: white; */
    position: absolute;
    transition: left .3s linear;
    /* border-radius: 50%; */
    width: calc( var(--row-height) * 0.14);
    height: calc( var(--row-height) * 0.14 );
    /* background-color: white; */
    /* filter: blur( 10px ); */
    /* opacity: 0.2; */
    background-image: url('./images/indicator.png');
    top: 50%;
    transform: translateX(-50%) translateY( -50% );
    background-size: contain;
    opacity: 0.9;
  }

  .feedback-interface-buttons{
    width: 100%;
    /* height: 50%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    /*place-items: stretch;
    place-content: stretch;
    grid-auto-flow: row;*/
  }
  .feedback-interface-buttons-cell{
    justify-self: stretch;
    align-self: stretch;

  }

  .feedback-button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;
    font-family: inherit;
  }
    .feedback-button.empty{
      opacity: 0.3;
    }
    .feedback-button img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }

    .feedback-button .ammo{
      position: absolute;
      bottom: 5%;
      right: 15%;
      color: #504d3a;
      font-weight: bold;
      font-family: inherit;
      font-size: 2rem;      
    }
  @media (max-aspect-ratio: 1/1){
    
  }