.play-interface{
    display: flex;
    flex-direction: column;
    width: 100%;
}
    .play-interface > section{
        width: 100%;
        overflow-x: auto;
        height: 25vh;
        flex-grow: 1;
    }

.select-interface{
    display: flex;
    flex-direction: row;
    height: 100%;
}
    .select-interface.disabled{
        opacity: 0.5;
        pointer-events: none;
    }
    .select-interface .select-option{
        width: 25vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 0;
        flex-shrink: 0;
        cursor: pointer;
        padding: 1rem;
        box-sizing: border-box;
        border: 10px solid #fff;
        background: #ccc;
        border-left-width: 5px;
        border-right-width: 5px;
    }

        .select-option.selected{
            border-top-width: 4px;
            border-bottom-width: 4px;
            border-left-width: 2px;
            border-right-width: 2px;
            background: yellow;
        }