.play-interface{
    display: flex;
    flex-direction: column;
    width: 100%; 
}
    .select-section{
        width:100%;
        position: relative;
    }
        .select-section h1{
            font-weight: normal;
            font-size: inherit;        
            text-align: center;
            width: 100%;
            background: rgb(146, 27, 18);
            height: calc( var(--row-height) / 6 );
            margin: 0;
        }   

.select-interface{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} 
    .select-interface__character{ /* 1x3 */
        height: var(--row-height);
    }
    .select-interface__prop{ /* 5x3 */
        height: calc( var(--row-height) * 5 );
    }
    

    .select-option{        
        height: var(--row-height);        
        padding: var(--grid-pad);
        box-sizing: border-box;
    }
        .select-option img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }

        .select-option.selected{
            border-top-width: 4px;
            border-bottom-width: 4px;
            border-left-width: 2px;
            border-right-width: 2px;
            background: yellow;
        }

.play-button{
    width: 33%;
    height: var(--row-height);
    position: fixed;
    bottom: 0;
    right: 0;   
    margin: 0;
    outline: 0;
    border: none;
    background: transparent;
    padding: var(--grid-pad);
    box-sizing: border-box;
}
    .play-button img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

.disabled{    
    opacity: 0.5;
    pointer-events: none;
}