.play-interface{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFFFFF;
}
    .select-section{
        
    }
    .select-section h1{
        font-size: inherit;
        margin: 0.3rem 0;
        text-align: center;
    }

.select-interface{
    width: 100%;
    overflow-x: auto;
    height: 25vh;
    flex-grow: 1;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-padding: 50%;
} 

    .select-option{
        scroll-snap-align: center;
        width: 25vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 0;
        flex-shrink: 0;
        cursor: pointer;
        padding: 1rem;
        box-sizing: border-box;
        border: 10px solid #fff;
        background: #ccc;
        border-left-width: 5px;
        border-right-width: 5px;
        display: inline-block;
    }

        .select-option.selected{
            border-top-width: 4px;
            border-bottom-width: 4px;
            border-left-width: 2px;
            border-right-width: 2px;
            background: yellow;
        }


.disabled{
    opacity: 0.5;
    pointer-events: none;
}