.play-interface{
    display: flex;
    flex-direction: column;
    width: 100%; 
}
    .select-section{
        width:100%;
        position: relative;
    }
        .select-section h1{
            font-weight: normal;
            font-size: inherit;        
            text-align: center;
            width: 100%;
            background: rgb(146, 27, 18);
            height: calc( var(--row-height) / 6 );
            margin: 0;
        }   

.select-interface{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} 
    .select-interface__character{ /* 1x3 */
        height: var(--row-height);
    }
    .select-interface__prop{ /* 5x3 */
        height: calc( var(--row-height) * 5 );
    }
    

    .select-option{        
        height: var(--row-height);        
        padding: var(--grid-pad);
        box-sizing: border-box;
        position: relative;        
    }
        .select-option img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }

        .select-option.selected:before{
            content: '';
            width: calc( var(--row-height) * 0.7 );
            height: calc( var(--row-height) * 0.7 );
            background-color: white;
            display: block;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            filter: blur( 10px );
            opacity: 0.2;
        }

.play-button{
    width: 33%;
    height: var(--row-height);
    position: fixed;
    bottom: 0;
    right: 0;   
    margin: 0;
    outline: 0;
    border: none;
    background: transparent;
    padding: var(--grid-pad);
    box-sizing: border-box;
    background-color: lime;
}
    .play-button img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
    .play-button:disabled{
        background: transparent;
    }
    .play-button:disabled img{
        display: none;
    }

.disabled{    
    opacity: 0.5;
    pointer-events: none;
}